{% extends 'base.html' %}{% load crispy_forms_tags %}{% block content %}

<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">PASSWORD RESET</h2>
            </div>
            <div class="card-body">
                <h1 class='text-center mb-5'>Password Reset</h1>
                <form action="" method="POST">
                    {% csrf_token %} {{form | crispy }}<button class="btn btn-success ml-2 mt-5" type="submit">PASSWORD RESET</button></form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}