{% extends 'base.html' %}{% block title %}Blog{% endblock title %} {% block content %}



<!-- Header -->
<header class="">
    {% include 'header.html'%}
</header>

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Recent Posts</h4>
                        <h2>Our Recent Blog Entrie</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner Ends Here -->



<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        {% for cat in cats %}
                        <div class="col-lg-6">
                            <div class="blog-post">

                                <div class="blog-thumb">
                                    <img src="/media/{{cat.img}}" alt="">
                                </div>
                                <div class="down-content">

                                    <a href="/allpostonecatogery/{{cat.url}}">
                                        <span>{{cat.title}}</span>
                                    </a>
                                    <ul class="post-info">
                                        <li>
                                            <a href="#">{{cat.author}}</a>
                                        </li>
                                        <li><a href="#">{{cat.add_date}}</a></li>

                                    </ul>
                                    <p>{{cat.description}}</p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    <li><a href="#">Best Templates</a>,</li>
                                                    <li><a href="#">TemplateMo</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>{% endfor %}




                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                                <form id="search_form" name="gs" method="GET" action="#">
                                    <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                                </form>
                            </div>

                        </div>

                        <div>{% include 'side-bar-post-cat.html'%}</div>
                        <div class="col-lg-12">
                            <div class="sidebar-item tags">
                                <div class="sidebar-heading">
                                    <h2>Tag Clouds</h2>
                                </div>
                                <div class="content">
                                    <ul>{% for post in posts %}
                                        <li>
                                            <a href="#">{{post.tag}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer>
    {% include 'footer.html'%}
</footer>{% endblock content %}