{% extends 'base.html'%}{% block content %}{% load crispy_forms_tags %}

<!-- Title Page-->


<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">CREATE YOUR ACCOUNT </h2>
            </div>
            <div class="card-body">
                <h1 class="text-center mb-5">Regsiteration Page</h1>
                <form action="" method="POST">
                    {% csrf_token %} {{form | crispy }}<button class="btn btn-success ml-2 mt-5" type="submit">register</button></form>
                <div class="contanier">
                    <div class="row">

                        <div class="mt-5 col-sm-4">
                            <a href="{% url 'login'%}" class="mt-5">Already have an Account</a>

                        </div>
                        <div class="mt-5 col-sm-4">

                            <a href="{% url 'home'%}" class="mt-5" style="left-align;">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}